{% extends 'newindex.html' %}
{% load stu_tags %}

{% block page-content %}
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/student/">我的课程</a></li>
            <li role="presentation"><a href="/student/studyrecords/{{ studyrecord_obj.student.id }}">班级</a></li>
            <li role="presentation" class="active"><a href="#">作业详情</a></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->

        <div class="panel-heading">班级：{{ studyrecord_obj.student.enrolled_class }} |
            节次：{{ studyrecord_obj.course_record.day_num }}</div>
        <div class="panel-body">
            <h4>作业标题:<b>{{ studyrecord_obj.course_record.homework_title }}</b></h4>
            <hr>
            <h4>作业详情:
                <pre>{{ studyrecord_obj.course_record.homework_content }}</pre>
            </h4>
            <hr>
            <h4>老师评语:
                <pre>{{ studyrecord_obj.memo }}</pre>
            </h4>
            <hr>
            <h4>本节成绩:<span style="color: red">{{ studyrecord_obj.score }}</span></h4>
            {#    {{ request.user.stu_account }}#}

            <hr>
            <p>已上传文件列表:</p>
            <table id="uploaded-list" class="table table-striped">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>大小(kb)</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for filename, fileinfo in response_dic.files.items %}
                    <tr>
                        <td><a>{{ filename }}</a></td>
                        <td>{{ fileinfo.size }}</td>
                        <td>{{ fileinfo.ctime }}</td>
                        <td><a href="javascript:void(0)"
                               onclick="DeleteFileOnServer('{{ filename }}','{{ studyrecord_obj.id }}')">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>
            <p>请上传作业</p>

            <form id="filedropzone" method="post" action="{{ request.path }}"
                  class="dropzone dz-clickable">{% csrf_token %}
                <div class="dz-default dz-message">
                    <div class="dz-icon icon-wrap icon-circle icon-wrap-md">
                        <i class="fa fa-cloud-upload fa-3x"></i>
                    </div>
                    <div>
                        <p class="dz-text">把作业拖到这里</p>
                        <p class="text-muted">请压缩打包后上传</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block bottom-js %}
    <script>
    Dropzone.autoDiscover = false;
        $(document).ready(function () {
            Dropzone.options.filedropzone = {
                url: "{{ request.path }}",
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 2, // MB,
                addRemoveLinks: true,
                maxFiles: 2,
                uploadMultiple: true,
                accept: function (file, done) {
                    if (file.name == "github.txt") {
                        alert("Naha, you don't.")
                        {#              done("Naha, you don't.");#}
                    }
                    else {
                        done();
                    }
                }
            }
        });
        // or disable for specific dropzone:
        // Dropzone.options.myDropzone = false;
        myDropzone = new Dropzone("#filedropzone");
        myDropzone.on("addedfile", function (file) {
            /* Maybe display some more file information on your page */
        });
        myDropzone.on("success", function (file, response) {
            /* Maybe display some more file information on your page */
            response = JSON.parse(response);
            if (!response.status) {
                window.alert(response.err_msg);
                window.location.reload()
            } else {
                window.alert("上传成功！");
                window.location.reload()

            }

        })

        function DeleteFileOnServer(filename,studyrecord_id) {
            if (window.confirm('你确定要删除吗？')) {
                $.ajax({
                    url: '/student/delete_file/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        "studyrecord_id": studyrecord_id,
                        "filename":filename
                    },
                    success: function (data) {
                        var data = JSON.parse(data);
                        if (data.status) {
                            window.location.reload()
                        }
                        else {
                            window.alert("文件不存在")
                        }
                    }
                })
            }
            else{
                return false
            }

        }
    </script>
{% endblock %}