{% extends 'index.html' %}

{% block page-content %}
    <div id="content">
        <h3>学员基本信息审核</h3>
        {{ customers_form.as_p }}
        <hr>
        <h3>报名信息</h3>
        {{ enroll_form.as_p }}
        <a href="{% url 'enrollment_rejection' enroll_obj.id%}" class="btn btn-danger">不通过</a>
        <a href="{% url 'payment' enroll_obj.id%}" class="btn btn-info pull-right">通过</a>
{#        <input type="submit" class="btn btn-info pull-right" value="下一步">#}
    </div>
{% endblock %}

{% block bottom-js %}
    {#    <script>#}
    {#        $(document).ready(function(){#}
    {#            $("#content").load("/king_admin/crm/customer/");#}
    {#        })#}
    {#    </script>#}

{% endblock %}