{% extends 'newindex.html' %}

{% block page-content %}
    学员报名
    <div id="content">
        <form role="form" class="form-horizontal col-lg-6" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">客户</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" disabled="disabled" value="姓名:{{ customer_obj.name }} qq:{{ customer_obj.qq }}">

                </div>
            </div>
            {% for field in enrollment_form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label>

                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <span style="color: red;">{{ errors.error }}</span>

            <div class="row">
                <div>
                    <ul>
                        {% for k,v in msgs.items %}
                            <li>{{ v }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <input type="submit" class="btn btn-success pull-right" value="下一步">
        </form>


    </div>
{% endblock %}

{% block bottom-js %}
    {#    <script>#}
    {#        $(document).ready(function(){#}
    {#            $("#content").load("/king_admin/crm/customer/");#}
    {#        })#}
    {#    </script>#}

{% endblock %}