{% extends 'ddd.html' %}

{% block body %}
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h1 class="error-number">403</h1>
              <h2>您无此权限!</h2>
              <p>请使用有权限的账号 <a style="border-top-color: #79C3DF" href="/account/login/">登陆</a>
              </p>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    </body>
{% endblock %}