{% extends "king_admin/table_index.html" %}
{% load tags %}

{% block container %}
    <div class="panel panel-info">
        <div class="panel-heading">修改{{ obj.name }}密码</div>
        <div class="panel-body col-lg-5" >
            <form class="form-horizontal" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="font-weight: normal">
                            用户名
                    </label>
                                    <div class="col-sm-5">
                    <input class="form-control" type="text" value="{{ obj.name }}" disabled>
                </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="font-weight: normal">
                            密码
                    </label>
                    <div class="col-sm-5">
                    <input class="form-control" type="password" name="password1">
                </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="font-weight: normal">
                            密码(重复)
                    </label>
                                    <div class="col-sm-5">
                    <input class="form-control" type="password" name="password2">
                </div>
                </div>
                <div >{% for k,v in errors.items %}
                <li style="color: red">{{ v }}</li>
                    {% endfor %}
                </div>
                <input class="btn btn-info center-block" type="submit" value="确认">
            </form>
        </div>
    </div>
{% endblock %}