{% extends 'newindex.html' %}
{% load tags %}
{% block extra-css-resources %}
    <style type="text/css">
        .filter_select_box {
            height: 300px !important;
            width: 100%;
            border-radius: 1px;
        }
    </style>
{% endblock %}




{% block page-content %}
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">详细信息
            </h4>
        </div>
        <hr>

        <form class="form-horizontal" method="post" onsubmit="return SelectAll()">
            {% csrf_token %}
            <span style="color: red">{{ form_obj.errors }}</span>
            {% for field in form_obj %}
                <div class="item  form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="font-weight: normal">
                        {% if field.field.required %}
                            <b>{{ field.label }}</b>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>

                    <div class="col-sm-8">
                        {% if field.name in admin_class.filter_horizontal %}
                            <div class="col-md-5 col-sm-9 col-xs-12 ">
                                {% get_m2m_list admin_class field form_obj as m2m_obj_list %}
                                <select id="id_{{ field.name }}_from" multiple class="select2_multiple form-control">
                                    {% if field.name in admin_class.readonly_fields and not admin_class.is_add_form%}
                                        {% for obj in m2m_obj_list %}
                                            <option disabled value="{{ obj.id }}">
                                                {{ obj }}
                                            </option>
                                        {% endfor %}
                                    {% else %}
                                        {% for obj in m2m_obj_list %}
                                            <option value="{{ obj.id }}"
                                                    ondblclick="MoveTo(this,'id_{{ field.name }}_to','id_{{ field.name }}_from')">
                                                {{ obj }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                双击移动
                            </div>
                            <div class="col-md-5">
                                {% selected_m2m_list form_obj field as selected_obj_list %}
                                <select name="{{ field.name }}" tag="chose" id="id_{{ field.name }}_to" multiple
                                        class="select2_multiple form-control">
                                    {% if field.name in admin_class.readonly_fields and not admin_class.is_add_form%}
                                        {% for obj in selected_obj_list %}
                                            <option disabled value="{{ obj.id }}">
                                                {{ obj }}
                                            </option>
                                        {% endfor %}
                                    {% else %}
                                        {% for obj in selected_obj_list %}
                                            <option value="{{ obj.id }}"
                                                    ondblclick="MoveTo(this,'id_{{ field.name }}_from','id_{{ field.name }}_to')">
                                                {{ obj }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <span style="color: red">
                        {{ field.errors.as_text }}
                        </span>
                        {% else %}
                            <span style="color: darkgrey">{{ field }}{{ field.help_text }}</span>
                            <span style="color: red">
                        {{ field.errors.as_text }}
                        </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        {% if not admin_class.readonly_table %}
            <div class="form-group">
                <div class="col-sm-2">
                    <a class="btn btn-danger pull-right "
                       href="{% url 'obj_delete' app_name table_name form_obj.instance.id %}">
                        删除
                    </a>
                </div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-success pull-right">保存</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    <script>
        function MoveTo(ele, target_id, new_target_id) {
            {#    左移右移    #}
            var opt_ele = "<option value='" + $(ele).val() + "' ondblclick=MoveTo(this,'" + new_target_id + "','" + target_id + "')>" + $(ele).text();
            $("#" + target_id).append(opt_ele);
            $(ele).remove();
        }

        function SelectAll() {
            $("select[tag='chose'] option").each(function () {
                $(this).prop("selected", true);
            })

            {#        提交时取消掉disabled，不然导致不可写字段POST不过去#}
            $("form").find("[disabled]").removeAttr("disabled");
            return true
        }
    </script>
{% endblock %}